<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>games</key>
	<array>
		<dict>
			<key>image</key>
			<string>http://www.gbeye.com/images/site_images/gbeyebtob/lightbox/originals/0004/5336/FP3469-ASSASSINS-CREED-UNITY-cover.jpg/1410773620/FP3469-ASSASSINS-CREED-UNITY-cover.jpg</string>
			<key>tag</key>
			<string>new</string>
			<key>category</key>
			<string>games</string>
			<key>title</key>
			<string>Assassins Creed Unity</string>
		</dict>
		<dict>
			<key>image</key>
			<string>http://thumbnails110.imagebam.com/34522/f1c08e345219060.jpg</string>
			<key>tag</key>
			<string>new</string>
			<key>category</key>
			<string>games</string>
			<key>title</key>
			<string>PES 2015</string>
		</dict>
		<dict>
			<key>image</key>
			<string>http://upload.wikimedia.org/wikipedia/en/6/6d/BioShock_cover.jpg</string>
			<key>tag</key>
			<string>new</string>
			<key>category</key>
			<string>games</string>
			<key>title</key>
			<string>BIG SHOCK</string>
		</dict>
	</array>
	<key>movies</key>
	<array>
		<dict>
			<key>image</key>
			<string>http://ia.media-imdb.com/images/M/MV5BMjExNzM0NDM0N15BMl5BanBnXkFtZTcwMzkxOTUwNw@@._V1_SX640_SY720_.jpg</string>
			<key>category</key>
			<string>romance</string>
			<key>title</key>
			<string>Titanic</string>
			<key>imdb</key>
			<string>http://www.imdb.com/title/tt0120338/</string>
		</dict>
		<dict>
			<key>image</key>
			<string>http://ia.media-imdb.com/images/M/MV5BMTcyMzUyMzY1OF5BMl5BanBnXkFtZTcwNDQ4ODk1OA@@._V1_SX640_SY720_.jpg</string>
			<key>category</key>
			<string>romance</string>
			<key>title</key>
			<string>The Twilight Saga Breaking Dawn</string>
			<key>imdb</key>
			<string>http://www.imdb.com/title/tt1673434/</string>
		</dict>
		<dict>
			<key>image</key>
			<string>http://ia.media-imdb.com/images/M/MV5BMTAwMTU4MDA3NDNeQTJeQWpwZ15BbWU4MDk4NTMxNTIx._V1_SX640_SY720_.jpg</string>
			<key>tag</key>
			<string>new</string>
			<key>category</key>
			<string>comedy</string>
			<key>title</key>
			<string>The theory of everything:</string>
			<key>imdb</key>
			<string>http://www.imdb.com/title/tt2980516/?ref_=inth_ov_tt</string>
		</dict>
		<dict>
			<key>image</key>
			<string>http://ia.media-imdb.com/images/M/MV5BMjI4MTIzODU2NV5BMl5BanBnXkFtZTgwMjE0NDAwMjE@._V1_SX640_SY720_.jpg</string>
			<key>tag</key>
			<string>new</string>
			<key>category</key>
			<string>comedy</string>
			<key>title</key>
			<string>Big Hero 6</string>
			<key>imdb</key>
			<string>http://www.imdb.com/title/tt2245084/?ref_=inth_ov_tt</string>
		</dict>
		<dict>
			<key>image</key>
			<string>http://ia.media-imdb.com/images/M/MV5BMjIxNTU4MzY4MF5BMl5BanBnXkFtZTgwMzM4ODI3MjE@._V1_SX640_SY720_.jpg</string>
			<key>tag</key>
			<string>new</string>
			<key>category</key>
			<string>action</string>
			<key>title</key>
			<string>Interstellar</string>
			<key>imdb</key>
			<string>http://www.imdb.com/title/tt0816692/?ref_=inth_ov_tt</string>
		</dict>
		<dict>
			<key>image</key>
			<string>http://ia.media-imdb.com/images/M/MV5BMjEwMDk2NzY4MF5BMl5BanBnXkFtZTgwNTY2OTcwMDE@._V1_SX640_SY720_.jpg</string>
			<key>category</key>
			<string>action</string>
			<key>title</key>
			<string>X-Men: Days of Future Past</string>
			<key>imdb</key>
			<string>http://www.imdb.com/title/tt1877832/?ref_=nv_sr_1</string>
		</dict>
		<dict>
			<key>image</key>
			<string>http://ia.media-imdb.com/images/M/MV5BNzg1MDQxMTQ2OF5BMl5BanBnXkFtZTcwMTk3MjAzOQ@@._V1_SX640_SY720_.jpg</string>
			<key>category</key>
			<string>action</string>
			<key>title</key>
			<string>XMEN The wolverine: 2013</string>
			<key>imdb</key>
			<string>http://www.imdb.com/title/tt1430132</string>
		</dict>
		<dict>
			<key>image</key>
			<string>http://ia.media-imdb.com/images/M/MV5BMTg5OTMxNzk4Nl5BMl5BanBnXkFtZTcwOTk1MjAwNQ@@._V1_SX640_SY720_.jpg</string>
			<key>category</key>
			<string>action</string>
			<key>title</key>
			<string>XMEN First Class : 2011</string>
			<key>imdb</key>
			<string>http://www.imdb.com/title/tt1270798</string>
		</dict>
		<dict>
			<key>image</key>
			<string>http://ia.media-imdb.com/images/M/MV5BMjI1NTg2ODA2Nl5BMl5BanBnXkFtZTcwMDc2MjEzMw@@._V1_SX640_SY720_.jpg</string>
			<key>category</key>
			<string>action</string>
			<key>title</key>
			<string>XMEN Last Stand : 2006</string>
			<key>imdb</key>
			<string>http://www.imdb.com/title/tt0376994</string>
		</dict>
		<dict>
			<key>image</key>
			<string>http://ia.media-imdb.com/images/M/MV5BMTkzNzE3Njg4Ml5BMl5BanBnXkFtZTYwMjA4NzM5._V1_SX640_SY720_.jpg</string>
			<key>category</key>
			<string>action</string>
			<key>imdb</key>
			<string>http://www.imdb.com/title/tt0104257/</string>
			<key>title</key>
			<string>A Few Good Men</string>
		</dict>
	</array>
	<key>tv</key>
	<array>
		<dict>
			<key>image</key>
			<string>http://ia.media-imdb.com/images/M/MV5BOTUwOTM2MTkyMF5BMl5BanBnXkFtZTgwMTMxODQxMDE@._V1_SX640_SY720_.jpg</string>
			<key>tag</key>
			<string>new</string>
			<key>category</key>
			<string>tv</string>
			<key>title</key>
			<string>Awkward</string>
			<key>imdb</key>
			<string>http://www.imdb.com/title/tt1663676/?ref_=tt_rec_tti</string>
		</dict>
		<dict>
			<key>image</key>
			<string>http://ia.media-imdb.com/images/M/MV5BMTA0ODEzNjE2NjZeQTJeQWpwZ15BbWU3MDA1MTAyMjk@._V1_SX640_SY720_.jpg</string>
			<key>tag</key>
			<string>new</string>
			<key>category</key>
			<string>tv</string>
			<key>title</key>
			<string>Veep</string>
			<key>imdb</key>
			<string>http://www.imdb.com/title/tt1759761/?ref_=tt_rec_tti</string>
		</dict>
		<dict>
			<key>image</key>
			<string>http://ia.media-imdb.com/images/M/MV5BMTkxOTU5NjczMV5BMl5BanBnXkFtZTgwMjE1ODI3MDE@._V1_SX640_SY720_.jpg</string>
			<key>tag</key>
			<string>new</string>
			<key>category</key>
			<string>tv</string>
			<key>title</key>
			<string>Grils (Season 6)</string>
			<key>imdb</key>
			<string>http://www.imdb.com/title/tt1723816/?ref_=vi_tt_i</string>
		</dict>
	</array>
</dict>
</plist>
